*.idea 
*.git 
*.gitignore 
*.gitmodules 
*.DS_Store 
*.iml 
*.ipr 
*.iws 
*.lst 
node_modules
.vscode
.vscode-test
.vscode-launch.json
.vscode-tasks.json

.env
.env.development
.env.staging
.env.production
.env.test

